* {
    margin: 0px;
    padding: 0px;
    font-family: 'PT Sans', sans-serif;
}
footer{
    height: 125px;
    width: 100%;
    text-align: center;
    background-color: #333;
}
.footer_text{
    color: white;
    font-size: 20px;
   padding-top: 25px;
}

h1{
    color: aliceblue;
    font-size: 75px;
    text-align: center;
}
h2{
    color: #1d2329;
    font-size: 50px;

    text-align: center;
}
h4{
    color: rgb(250, 84, 62);
    font-family: 'Yellowtail', cursive;
    font-size: 30px;
}
h3{
    color: rgb(34, 37, 39);
    font-size: 35px;
}
h5{
    color: aliceblue;
    
    font-size: 25px;
    text-align: center;
}
p{
    font-size: 20px;
}

li {
    display: inline-block;
    padding: 10px
}
.home{
    background-image: url("./images/donation4.png");
    background-size: cover;
    height: 969px;
    width: 100%;
    text-align: center;
}
.home_text{
    width: 65%;
    margin: auto ;
    padding-top: 300px;
}
.home_text p{  
    color: aliceblue;
    font-size: 20px;
    text-align: center;
    padding:30px 0px ;
}
.donate_button {
    background:  #f36a48;
    border: 0px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
}  
.donate_button:hover {
    background: #d94734;
}
.donation_page{
    height: 750px;
    width: 100%;
    text-align: center;
}
.donation_page_text{
    width: 70%;
    margin: auto ;
    padding-top: 100px;
}
.donate_chart{
    margin-top: 50px;

}
.donate_options{
    background:  #f7f1f167;
    border-color: #f7f1f167;
    border-radius: 10px;
    color: #48535e;
    font-size: 25px;
    font-weight: 700;
    padding: 40px;
    border-style: solid;
}  
.donate_options:hover {
    background: #ffd2cd;
    color: #e62a2a;
    border-color: #fa4747;
}
#amount_input{
    height: 40px;
    width: 70%;
    margin : 40px;
    background-color: #ffffff;
    color: #333;
    font-size: 20px;
    text-align: center;
    outline: none; 
    border-style: none none solid none; 
}
.donation_plan{
    height: 650px;
    width: 100%;
    text-align: center;
}
.donation_plan_text{
    width: 70%;
    margin: auto ;
}
.plan_chart{
    margin-top: 25px;
}
#plan_item_1{
    width: 25%;
    text-align: left;
    background:  #eed2cb;
    border: 0px;
    border-radius: 10px;
    font-size: 20px;
    margin: 30px;
    padding: 40px 20px;
}
#plan_item_2{
    width: 25%;
    text-align: left;
    background:  #faced9;
    border: 0px;
    border-radius: 10px;
    font-size: 20px;
    margin: 30px;
    padding: 40px 20px;
}
#plan_item_3{
    width: 25%;
    text-align: left;
    background:  #f7d6a6;
    border: 0px;
    border-radius: 10px;
    font-size: 20px;
    margin: 30px;
    padding: 40px 20px;
}
.about_page{
    text-align: center;
}

.aboutphoto{
    background-color: #fa4747;
    height: 250px;
    width: 100%;
    margin-bottom: 50px;
}
.aboutstat{
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}
#about_us1{
    width: 25%;
    text-align: left;
    background:  #faced9;
    border: 0px;
    border-radius: 10px;
    font-size: 20px;
    margin: 30px;
    padding: 40px 20px;
}
#about_us2{
    width: 25%;
    height: 275px;
    text-align: left;
    background-image: url(./images/donation4.jpg);
    border: 0px;
    border-radius: 10px;
    font-size: 20px;
    padding: 40px 20px;
}
#email_input{
    height: 40px;
    width:100%;
    margin : 40px;
    background-color: #fff8f8;
    color: #333;
    font-size: 20px;
    text-align: left;
    outline: none; 
    padding-left: 30px;
    border-style: none; 
    border-radius: 20px 0px  0px 20px;
}
.subcribe_button{
    height: 40px;
    width:80%;
    margin : 40px;
    background-color: #f13636;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: left;
    outline: none; 
    padding-left: 20px;
    border-style: none; 
    border-radius: 0px 20px  20px 0px;
}
.subcribe_button:hover {
    background: #d95b34;
}
#update{
    background-color: #f8e3e3;
    width: 40%;
    margin: auto ;
    border-radius: 30px;
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
    padding: 50px;
}