*{
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
}
ul{
    list-style-type: none;
    display: inline-block;
}
li{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}
.navitems{
    padding-top: 50px;
}
a{
    text-decoration: none;
    color: #ffffff;
}
a:hover {
    color: #ffa224;
}
h1{
    font-size: 75px;
    color: #ffa224;
}
h2{
    font-size: 45px ;
}
h3{
    font-size: 25px;
    color: #ffffff;
}
h4{
    
    font-size: 25px;
    color: #242424;
}
h5{
    font-size: 14px;
}
input{
    font-size: 20px;
    width: 250px;
    outline: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
}
img {
    border-radius: 50%;
}
.home{
    background-image: url(./BG.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 945px;
    width: 100%;
}
.navbar{
    height: 150px;
    width: 100%;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
}
.logo{
    height: 100px;
    width: 100px;
    position: absolute;
    margin-top: 25px;
    margin-left: 75px;
}
.nav{
    position: absolute;
    left: 65%;
}
.bookbtn {
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #ffa224;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .bookbtn:hover {
    background: #ffa224;
    background-image: -webkit-linear-gradient(top, #ffa224, #d97b34);
    background-image: -moz-linear-gradient(top, #ffa224, #d97b34);
    background-image: -ms-linear-gradient(top, #ffa224, #d97b34);
    background-image: -o-linear-gradient(top, #ffa224, #d97b34);
    background-image: linear-gradient(to bottom, #ffa224, #d97b34);
    text-decoration: none;
  }
  .content{
    height: 50%;
    width: 50%;
    text-align: center;
    float: right;
    padding-top: 170px;
    padding-right: 75px;
  }
  .button {
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #1e1f23;
    padding: 10px 20px 10px 20px;
    border: solid #ffffff 2px;
    text-decoration: none;
  }
  
  .button:hover {
    background: #ffa224;
    border: solid #f79e23 2px;
    background-image: -webkit-linear-gradient(top, #ffa224, #d97b34);
    background-image: -moz-linear-gradient(top, #ffa224, #d97b34);
    background-image: -ms-linear-gradient(top, #ffa224, #d97b34);
    background-image: -o-linear-gradient(top, #ffa224, #d97b34);
    background-image: linear-gradient(to bottom, #ffa224, #d97b34);
  }
.buttons1{
   margin-top: 52px;
   margin-bottom: 70px;
}
.about{
    text-align: center;
    height: 850px;
    width: 100%;
}
.aboutus{
    margin-top: 100px;
    margin-bottom: 100px;
}
.aboutphoto{
    background-image: url(./About.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    width: 100%;
}
.aboutinfo{
    font-size: 20px;
    color: grey;
}
.aboutstat{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
.aboutend{
    font-size: 20px;
    color: grey;
    margin: 69px;
}
.reh3{
    color: black;
}
.reserve{
    color: grey;
    font-size: 20px;
    margin-top: 100px;
    margin-left: 390px;
   
}
.menue{
    height: 720px;
    width: 100%;
}

.rebtn{
    width: 250px;
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    font-family: Arial;
    color: #242424;
    font-size: 20px;
    background: #ffffff ;
    padding: 10px 20px 10px 20px;
    border: solid #ffa224 2px;
    text-decoration: none;
  }
  
  .rebtn:hover {
    background: #ffa224;
    border: solid #f79e23 2px;
    background-image: -webkit-linear-gradient(top, #ffa224, #d97b34);
    background-image: -moz-linear-gradient(top, #ffa224, #d97b34);
    background-image: -ms-linear-gradient(top, #ffa224, #d97b34);
    background-image: -o-linear-gradient(top, #ffa224, #d97b34);
    background-image: linear-gradient(to bottom, #ffa224, #d97b34);
  }
.ret{
    padding-top: 10px;
}
.ourmenu{
    text-align: center;
}
.itemtext{
    text-align: Left;
    color: rgb(48, 46, 46);
}
.menuebox1{
    width: 500px;  
}

.menubox{
    margin: 25px;
}
.menuitem{
    margin-top: 20px;
    padding-top: 30px;
    padding:10px;
    border: 1px solid #717081;
    border-radius: 7px;
}
.menuitem:hover{
    background-color: #ffa224 ;
}
.menulist1{
    position: absolute;
    left: 10%;
}
.menulist2{
    position: absolute;
    left: 37%;
}
.menulist3{
    position: absolute;
    left: 64%;
}
.review{
    height: 490px;
}
.endbox{
    height: 330px;
    width: 100%;
    background-color: #141313;
}
.endtext{
    color: rgb(255, 255, 255);
}
.endli{
    padding: 69px;
}
.linksus{
    position: absolute;
    left: 196px;
}
